*{
 margin: 0 0;
}
.app{
    background: #f6f9fc;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}
.grid{
    width: 1200px;
    margin: 0 auto;
}
.header{
    height: 160px;
    background: #ffffff;
}
.khung-header{
    height: 30%;
    border: 1px solid #cccccc;
}
.header__thongtin{
    display: flex;
    height: 100%;
}
.header__thongtin-gmail{
    width: 300px;
    border-right:  1px solid #cccccc;
    padding: 10 10px;
}
.header__thongtin-gmail-text{
    font-size: 15px;
}
.header__thongtin-sdt{
    width: 69%;
    padding: 10 10px;
}
.header__thongtin-sdt-text{
    font-size: 15px;
}
.header__thongtin-ngonngu{
    cursor: pointer;
    width: 20px;
    height: 25px;
    padding: 10 35px;
}
.header__thongtin-ngonngu-img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.header__thongtin-hienthi{
    width: 35px;
    padding-top: 10px;
    cursor: pointer;
    padding: 10 35px;
}
.header__thongtin-hienthi-icon{
    font-size: 30px;
    color : black;
}
.header__thongtin-dangnhap{
    padding: 10px;
    cursor: pointer;
}
.header__thongtin-dangnhap-icon{
    font-size: 30px;
    color : black;
}


.header-khung-timkiem{
    height: 55px;
    padding: 12 12px;
    display: flex;
}
.header-logo{
    width: 13.3%;
    height: 93%px;
}
.header-logo-img{
    width: 160px;
    height: 53px;
}
.header__timkiem{
    padding: 3 13.9%;
    width: 63%;
    height: 38px;
}
.header__timkiem-text{
    width: 80%;
    height: 33px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
.header__timkiem-seach{
    width: 10%;
    height: 33px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    background: #e69646;
    cursor: pointer;
}
.header__timkiem-seach-icon{
    color: #ffffff;
    font-size: 15px;
}
.header-cart{
    width: 30px;
    height: 51px;
    padding: 10px 0;
    cursor: pointer;
}
.header-cart-icon{
    font-size: 20px;
}

/* .header__list{
    
} */
.header__ullist{
    float: right;
    display: flex;
    list-style: none;     
    align-items: center;
}
.header-list-item{
    width: 95px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.header-list-item-link{
    text-decoration: none;
    color: black;
}
.header-list-item-link:hover{
    color: #e69646;
}

.cuahang__item{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.clum-4{
    width: 24%;
    height: 465px;
    padding: 0.5% 0.5%;
}
.cuahang__item-anh{
    width: 100%;
    height: 67%;
}
.cuahang__item-anh-img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
.cuahang__item-mota{
    background:  #ffffff;;
    height: 30%;
    padding: 2%;
}
.cuahang__item-thongtin-{
    width: 100%;
    height: 20px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.cuahang__item-thongtin{
    width: 100%;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cuahang__item-gia{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    padding: 6 0px;
}
.cuahang__item-trangthai{
    background-color:#464646;
    margin-top: 7%;
    height: 35%;
    display:flex;
    border-radius: 10px;
}
.cuahang__item-mua{
    width: 49%;
    padding: 10 13%;
    border-radius: 10px;
    margin: 1%;
    
}
.cuahang__item-mua:hover{
    background: #e69646;
}
.cuahang__item-mua-text{
    font-size: 95%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
}
.cuahang__item-them{
    margin: 1%;
    background-color: #ffffff;
    border-radius: 10px;
    width: 59%;
    padding: 10 10%;
}
.cuahang__item-them:hover{
    background: #e69646;
}
.cuahang__item-them-text{
    font-size: 95%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}


.cart{
    background: #ffffff;
    top: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    width: 400px;
    display: none;
    border-left: 2px solid #cccccc;
}
.cart-trangthai{
    height: 75px;
    width: 100%;
    background: #ffffff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #cccc;
    
}
.cart-trangthai-soluong{
    width: 90%;
}
.cart-trangthai-text{
    padding-left: 15px;
    font-size: 20px;
}
.cart-exit{
    width: 10%;
}
.cart-exit-icon{
    font-size: 30px;
    font-weight: 100;
    color: #808080;
}
.cart-exit-icon:hover{
    color: black;
}
.listsp{
    height: 750px;

}
.thanhtoan{
    border: 1px solid #e69646;
    border-radius: 10px;
    height: 35px;
    width: 320px;
    margin: 4 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.thanhtoan-text{
    width: 100%;
    height: 100%;
    padding: 0 100px;
}
.xemgio{
    border: 1px solid #e69646;
    border-radius: 10px;
    height: 35px;
    width: 320px;
    margin: 4 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20px;
    background: #e69646;
}
.xemgio-text{
    width: 100%;
    height: 100%;
    padding: 0 115px;
    
}
.thanhtoan:hover{
    background: #e69646;
}

.them{
    z-index: 10;
    bottom: 0;
    right: 0;
    left: 0;
    height: 70px;
    background: #ffffff;
    position: fixed;
    padding: 0 10%;
    display: flex;
    display: none;
}
.them-tt{
    width: 230px;
    padding-top: 15px;
}
.them-text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.them-ch{
    width: 230px;
    padding-top: 15px;
}
.them-gh{
    width: 230px;
    padding-top: 15px;
}
.them-tk{
    width: 230px;
    padding-top: 15px;
}